@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="card-deck">
        <div class="card">
            <div class="d-inline-flex h-100">
                <div class="d-inline-block p-3">
                    <i class="fas fa-credit-card fa-5x"></i>
                </div>
                <div>
                    <p class="card-text"> 76 </p>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="d-inline-flex h-100">
                <div class="d-inline-block p-3">
                    <i class="fas fa-boxes fa-5x"></i>
                </div>
                <div class="card-text"> 588 </div>

            </div>
        </div>
        <div class="card">
            <div class="d-inline-flex h-100">
                <div class="d-inline-block p-3">
                    <i class="fas fa-users fa-5x"></i>
                </div>
                <p class="card-text"> 122 </p>

            </div>
        </div>

    </div>
</div>
