@{
    ViewData["Title"] = "Home Page";
}

<div class="container pt-5 mt-5">

    <div class="card-deck">
        <div class="card" style="border:none">
            <div class="status-content">
                <div class="d-inline-block p-3">
                    <i class="fas fa-credit-card fa-5x primary-col-1"></i>
                </div>
                <div class="p-3 status-info">
                    <p class="status-count primary-col-1"> 7650 </p>
                    <p class="status-type"> Sales </p>
                </div>

            </div>
        </div>

        <div class="card" style="border:none">
            <div class="status-content">
                <div class="d-inline-block p-3">
                    <i class="fas fa-boxes fa-5x primary-col-2"></i>
                </div>
                <div class="p-3 status-info">
                    <p class="status-count primary-col-2"> 588 </p>
                    <p class="status-type"> Inventory Items </p>
                </div>
                

            </div>
        </div>
        <div class="card" style="border:none">
            <div class="status-content">
                <div class="d-inline-block p-3">
                    <i class="fas fa-users fa-5x primary-col-3"></i>
                </div>
                <div class="p-3 status-info">
                    <p class="status-count primary-col-3"> 122 </p>
                    <p class="status-type"> Customers </p>
                </div>
            </div>
        </div>

    </div>
</div>
