<div class="field">
    <div class="d-flex justify-content-end">
        <div class="d-flex flex-column m-2">
            <div class="d-flex justify-content-end">
                <span class="total-section">Number of Items : </span>
            </div>
            <div class="d-flex justify-content-end">
                <span class="total-section">Amount Due : </span>
            </div>
            <div class="d-flex justify-content-end">
                <span class="total-section">VAT (5%) : </span>
            </div>
            <div class="d-flex pt-1 border-top-1 justify-content-end">
                <span class="total-section">Total : </span>
            </div>
        </div>
        <div class="d-flex flex-column m-2">
            <div class="d-flex">
                <span class="total-value"> 5 </span>
            </div>
            <div class="d-flex">
                <span class="total-value"> $3200.00</span>
            </div>
            <div class="d-flex">
                <span class="total-value"> $200 </span>
            </div>
            <div class="d-flex pt-1 border-top-1">
                <span class="total-section"> $3000 </span>
            </div>
        </div>

    </div>


</div>
