@model ABCApp.Web.Models.OrderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrderViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Countries" class="control-label"></label>
                @Html.DropDownListFor(x => x.Countries, Model.Countries, "--Select Country--", new { @id = "ddlCountry", @class = "form-control" })
                <span asp-validation-for="Countries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regions" class="control-label"></label>
                @Html.DropDownListFor(x => x.Regions, Model.Regions, "--Select Region--", new { @id = "ddlRegion", @class = "form-control" })
                <span asp-validation-for="Regions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cities" class="control-label"></label>
                @Html.DropDownListFor(x => x.Cities, Model.Cities, "--Select City --", new { @id = "ddlCity", @class = "form-control" })
                <span asp-validation-for="Cities" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(document).ready(function () {
        // country change
        $('#ddlCountry').change(function () {
            $.ajax({
                type: "post",
                url: "/Order/GetRegions",
                data: { countryCode: $('#ddlCountry').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {                    
                    $("#ddlRegion").empty()
                    $("#ddlRegion").append("<option value='' selected='selected'>-- Select Region --</option>")
                    for (var i = 0; i < data.length; i++) {                       
                        $("#ddlRegion").append('<option value="'
                            + data[i].value + '">'
                            + data[i].text + '</option>')
                    }
                    
                    
                }
            });
        });
        //region change
        $('#ddlRegion').change(function () {
            $.ajax({
                type: "post",
                url: "/Order/GetCities",
                data: { regionCode: $('#ddlRegion').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $("#ddlCity").empty()
                    $("#ddlCity").append("<option value='' selected='selected'>-- Select City --</option>")
                    for (var i = 0; i < data.length; i++) {
                        $("#ddlCity").append('<option value="'
                            + data[i].value + '">'
                            + data[i].text + '</option>')
                    }


                }
            });
        });
    });
</script>
}
