@model ABCApp.Web.Models.OrderViewModel

@{
    ViewData["Title"] = "Create";
}
@section Styles
{
    <link rel="stylesheet" href="~/lib/semantic-ui/semantic.min.css" />
    <link rel="stylesheet" href="~/lib/datepicker/datepicker.css" />

}

<div class="container pt-5 mt-5">
    <h1 class="section-header">New Sale</h1>


    <form class="ui form">
        <div class="row four fields">
            <div class="column field">
                <label>Date of sale</label>
                <input type="text" class="datepicker" name="date-of-sale" placeholder="Date of sale">
            </div>
        </div>
        <div class="row four fields">
            <div class="column field">
                <label>Customer Name</label>
                <input type="text" name="customer-name" placeholder="Customer Name">
            </div>

            @* -- country -- *@
            <div class="column field">
                <label>Country</label>
                <div class="country ui fluid search selection dropdown">
                    <input type="hidden" name="country" id="country">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Country</div>
                    <div class="menu" id="country-menu">
                        
                    </div>
                </div>
            </div>

            @* -- state -- *@
            <div class=" column field">
                <label>State</label>
                <select class="state ui fluid dropdown" id="state">
                    <option value="">select state</option>
                </select>
            </div>

            @* -- city -- *@
            <div class=" column field">
                <label>City</label>
                <select class="city ui fluid dropdown" id="city">
                    <option value="">select city</option>
                </select>
            </div>

        </div>

        <div class="row two fields">
            @* -- product auto complete -- *@
            <div class=" column field">
                <div class="products ui search fluid selection dropdown">
                    <input type="hidden" name="product" id="product">
                    <i class="dropdown icon"></i>
                    <div class="default text">scan or search product</div>
                    <div class="menu">
                       
                    </div>
                </div>
            </div>           
        </div>


</form>
</div>


@section Scripts
{
    <script src="~/lib/semantic-ui/semantic.min.js"></script>
    <script src="~/lib/datepicker/datepicker.js"></script>
    <script src="~/js/formcontrols.js"></script>
}