@model ABCApp.Web.Models.OrderViewModel
@{
    ViewData["Title"] = "Place Order";
}
@section Styles
{
    <link rel="stylesheet" href="~/lib/semantic-ui/semantic.min.css" />
    <link rel="stylesheet" href="~/lib/datepicker/datepicker.css" />
}

<div class="container pt-5 mt-5">
    <h1 class="section-header">New Sale</h1>


    <form class="ui form">
        <div class="row four fields">
            <div class="column field">
                <label>Date of sale</label>
                <input type="text" class="datepicker" name="date-of-sale" placeholder="Date of sale">
            </div>
        </div>
        <div class="row four fields">
            <div class="column field">
                <label>Customer Name</label>
                <input type="text" name="customer-name" placeholder="Customer Name">
            </div>

            @* -- country -- *@
            <div class="column field">
                <label>Country</label>
                <div class="ui fluid search selection dropdown">
                    <input type="hidden" name="country">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Country</div>
                    <div class="menu">
                    @foreach (var item in Model.Countries)
                    {
                        <div class="item" data-value="@item.Value"><i class="@item.Text.ToLower() flag" ></i>@item.Text</div>
                    }
                    </div>
                </div>
            </div>

            @* -- state -- *@
            <div class=" column field">
                <label>State</label>
                <select class="ui fluid dropdown">
                    <option value="">State</option>
                    <option value="AL">Alabama</option>
                </select>
            </div>

            @* -- city -- *@
            <div class=" column field">
                <label>City</label>
                <select class="ui fluid dropdown">
                    <option value="">City</option>
                    <option value="AL">Alabama</option>
                </select>
            </div>

        </div>

        <div class="row four fields">

        </div>



    </form>
</div>


@section Scripts
{
    <script src="~/lib/semantic-ui/semantic.min.js"></script>
    <script src="~/lib/datepicker/datepicker.js"></script>
    <script src="~/js/formcontrols.js"></script>
    <script>



    </script>

}